body {
  background-color: white;
}

#display {
  background-color: rgb(240, 240, 240);
  font-family: Arial;
  font-size: 18px;
  padding: 10px;
}

.calc-bt {
  box-shadow: 0px 3px 3px 0px #9fb4f2;
  background-color: #7892c2;
  border-radius: 25px;
  border: 2px solid #4e6096;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 16px;
  padding: 13px 27px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;
}

.calc-bt:hover {
  background-color: #476e9e;
  box-shadow: 0px 3px 3px 0px #29486e;
}

.calc-bt:active {
  position: relative;
  top: 4px;
  box-shadow: 0px 0px 0px 0px #9fb4f2;
}