body {
  background-color: rgb(227, 255, 251);
  font-family: arial;
}

h1 {
  text-align: center;
}
h3 {
  text-align: center;
}
h5 {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: gray;
}

p {
  text-align: justify;
  text-align-last: center;
  margin-left: 20%;
  margin-right: 20%;
  wordWrap: "break-word";
  font-size: 20px;
}